/* Common css styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul ,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2, h3, h4 ,h5 ,h6,p,span,ul,li{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono" 
}

/* End Common styles */

/* nav related styles */
       
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px 0px 80px;
}
.navbar li a{
    color: rgb(13, 19, 33);
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-primary{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid black;
     border-radius: 8px;
     opacity: 0.8;
     width: 100%;
     padding: 15px;
}


/* Common shared styles */

.btn-warning{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    
}

/* Banner related styles */

.banner{
    margin-top: 40px;
    background:url('./images/Hero-bg.png') ;
    background-size: cover;
  
    border: 2px dashed gray ;
}
.btn-secondary{
    border-radius: 8px;
    color: white;
    background: rgb(13, 19, 33);
    padding:  10px 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;  
}
.banner-content {
    text-align: center;
}
.banner-img{
    text-align: center;
}
.banner-img img{
     margin-top: 30px;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-description{
    color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

/* Web development styles */

.web{
  background-color: rgba(13, 19, 33, 0.02);
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  
}
.web-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.web-descrip{
    text-align: center;
}

/* Learn more */

.web-container{
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 20px 10px 20px 20px ;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.web-con-title{
   margin-top: 20px;
   
}
.web-tit{
 margin-top: 10px;
 color: rgba(13, 19, 33, 0.7);

font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.web-des{
   text-align: justify;
   margin-top: 20px ;
   color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
  
}

/* learn more two */